<?XML version="1.0" encoding="UTF-8"?>	<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

 <plist version="1.0">	<plist version="1.0">

 <dict>	<dict>
    <key>items</key>	
     <array>	<key>items</key>
        <dict>	
             <key>assets</key>	<array>
            <array>	
                 <dict>	<dict>
                    <key>kind</key>	
                     <string>software-package</string>	<key>assets</key>
                    <key>url</key>	
                     <string>http://45.195.25.71/admin/app/234.ipa</string>	<array>
                </dict>	
             </array>	<dict>
            <key>metadata</key>	
             <dict>	<key>kind</key>
                <key>bundle-identifier</key>	
                 <string>com.aoxing.app</string>	<string>software-package</string>
                <key>bundle-version</key>	
                 <string>1.0.0</string>	<key>url</key>
                <key>kind</key>	
                 <string>software</string>	<string>http://45.195.25.71/admin/app/234.ipa</string>
                <key>title</key>	
                 <string>down</string>	</dict>
            </dict>	
         </dict>	<dict>
    </array>
